{% load crispy_forms_tags %}

<script>
  $(document).ready(function(){
    $('form').submit(function(event){
      $('#inventory_item_form :input').prop('disabled', false);
    }); 
  }); 
</script>
{% include 'inventory/_item_search.html' %}
{% include 'locations/_location_search.html' %}
{% if pk %}
<script>
  // delete inventory item and return to inventory item list
    $('button.btn-danger').click(function(event){
      event.preventDefault();
      
      window.location.href = "{% url 'inventory_delete' pk model_name initial_id success_url %}";
    
    });
</script>
{% endif %}



{% if form_type == 'create'%}
  <form id="inventory_item_form" method="post" action="{% url 'inventory_add' model_name initial_id success_url %}">
{% elif form_type == 'update' %}
  <form id="inventory_item_form" method="post" action="{% url 'inventory_edit' pk model_name initial_id success_url %}">
{% else %}
<form id="inventory_item_form" method="post" action="{% url 'inventory_transfer' pk model_name initial_id success_url %}">
{% endif %}

    {% csrf_token %}
    {{ form | crispy }}
    {% if form_type == 'transfer' %}
    <button type="submit" class="btn btn-primary">Transfer</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Save</button>
    {% endif %}
    {% if pk and form_type == 'update' %}
    <button class="btn btn-danger" onclick="">Delete</button>
    {% endif %}
    <button class="btn btn-secondary" onclick="window.location.reload()">Cancel</button>
  </form>
  
