{% load crispy_forms_tags %}

<script>
  $(document).ready(function(){
    $('form').submit(function(event){
      $('#inventory_item_form :input').prop('disabled', false);
    });

    $("#id_item").select2({
      ajax: {
        url: '{% url "search_inventory_items" %}',
        dataType: 'json',
        delay: 250,

        data: function (params) {
            return {
                query: params.term,
                "item_type": "{{ model_name }}"
            };
        },
        processResults: function (data) {
            return {
                results: data.results
            };
        },
        cache: true
      },
      minimumInputLength: 3,
      placeholder: "Search {{ model_name }}s",
      allowClear: true

    });
    $("#id_location").select2({
      ajax: {
        url: '{% url "search_locations" %}',
        dataType: 'json',
        delay: 250,

        data: function (params) {
            return {
                query: params.term,
            };
        },
        processResults: function (data) {
            return {
                results: data.results
            };
        },
        cache: true
      },
      minimumInputLength: 3,
      placeholder: "Search Locations",
      allowClear: true

    });
  }); 
</script>

{% if form_type == 'create'%}
  <form id="inventory_item_form" method="post" action="{% url 'inventory_add' model_name initial_id success_url %}">
{% else %}
<form id="inventory_item_form" method="post" action="{% url 'inventory_edit' pk model_name initial_id success_url %}">
{% endif %}

    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-secondary" onclick="window.location.reload()">Cancel</button>
  </form>
  
