<script>
  $(document).ready(function(){
    $("#id_" + "{{ item_search_select.id }}").select2({
      ajax: {
        url: '{% url "search_inventory_items" %}',
        dataType: 'json',
        delay: 250,

        data: function (params) {
            return {
                query: params.term,
                "item_type": "{{ model_name }}"
            };
        },
        processResults: function (data) {
            return {
                results: data.results
            };
        },
        cache: true
      },
      minimumInputLength: 3,
      placeholder: "Search {{ model_name }}s",
      allowClear: true

    });
    
    
  }); 
</script>