{% extends 'purchasing/base.html' %}
{% block purchasing_content%}
<div class="row position-relative">
  <div class="col d-flex">

    <div class="card">

      <div class="card-body">
        <p class="card-text">Inventory Items</p>
        <p class="card-text">Hello</p>
        <a href="#" class="btn stretched-link btn-primary">Inventory</a>

      </div>

    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        Vendors
      </div>

    </div>
  </div>
</div>
<div class="row">




</div>

{% endblock%}
