{% extends 'main_base.html' %}
{% block main_content%}
{% load render_table from django_tables2%}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    function loadInventoryItemFormAdd(){
        $('#inventory_item_div').load("{% url 'inventory_add' %}{{object.get_class_name}}/{{object.get_class_name}}/{{object.id}}/inventory_item_list/");
        
    }
    function loadInventoryItemFormEdit(id){
        $('#inventory_item_div').load("{% url 'inventory_edit' %}" + id + "/{{object.get_class_name}}/{{object.id}}/inventory_item_list/");
    }
</script>
<div class="row">
    <div class="col">
        <div class="container-fluid">
            <div id="inventory_item_div"></div>
        </div>
        
    </div>
</div>
</div>
<div class="row position-relative">
<div class="col">
  
    <h5 class="card-title">{{ object.name }} ({{object.description}}) <a href="#" onclick="loadInventoryItemFormAdd()">Add to Inventory</a></h5>

    {% render_table table %}
   

</div>


{% endblock%}
