{% extends 'base.html' %}
{% block content%}
{% load crispy_forms_tags %}

<div class="row position-relative">
<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project</h5>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form.as_p }}
        {% endfor %}


        <input class="btn primary-btn"  type="submit" name="">
      </form>

    </div>

  </div>

</div>

{% endblock%}
