{%  if user.is_authenticated %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Site Navigation
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% if perms.timesheets.approve_timesheetentry %}
        <a class="dropdown-item" href="{% url 'managedashboard' %}">
          Timesheet Approvals
        </a>
      {% endif %}
        <a class="dropdown-item" href="{% url 'onboarding' %}">Onboarding</a>
    </div>
</li>
{% endif %}
