{% extends 'base.html' %}

{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
    <style>
        table {
          counter-reset: rowNumber;
        }

        table tr:not(.table_header) {
          counter-increment: rowNumber;
        }

        table tr:not(.table_header) th:first-child::before {
          content: counter(rowNumber);
          margin: Auto;
        }
        .row {
        margin-right: 100px !important;
        margin-left:100px !important;
        }
    </style>
    <h1 align="center">Timesheet Application Home</h1>
    <div class="row">

        <h4 align="center">Please register or log in to start using the system</h4>


    </div>
    <div class="row">

        <h5>Active Organizations</h5>


    </div>
    <div class="row">
    <ul>
      {% for org in orgs %}
        <li>{{ org.name }}</li>
      {% endfor %}
    </ul>
    </div>

    </div>
    <div class="row">

        <h5>To Know When Registering</h5>


    </div>
    <div class="row">
      <ul>
          <li>You must be a member of an organization to use this app</li>
          <li>Once registered you will receive an email when you have been approved by the organization</li>
          <li>You can start using the system once you receive the approval email</li>
          <li><a href="https://docs.google.com/document/d/e/2PACX-1vT4vrteqqQE96hToTMwgzHdVpmPa94FeUk8jtwSCOPw-qkjy2UCPzoLuxCECQ8-kZEtzHAp3XqsP5qZ/pub" target="_blank">Help Registering and Logging In</a></li>
      </ul>
    </div>

{% endblock %}
