<script>
    $("#id_location").select2({
      ajax: {
        url: '{% url "search_locations" %}',
        dataType: 'json',
        delay: 250,

        data: function (params) {
            return {
                query: params.term,
            };
        },
        processResults: function (data) {
            return {
                results: data.results
            };
        },
        cache: true
      },
      minimumInputLength: 3,
      placeholder: "Search Locations",
      allowClear: true

    });

</script>

    