{% extends "locations/base.html" %}
{% block location_content %}
<script>
  function deleteLocation() {
    {% if inventory_items or children %}
      alert("This location cannot be deleted.  Please remove all inventory items and child locations from this location.");

    
    {%else%}
    {% if location.parent %}
      window.location.replace("{% url 'location_delete' location.id location.parent.id %}");

    {% endif %}
      window.location.replace("{% url 'location_delete' location.id %}");
    {% endif %}
  }
</script>
 

  <!-- 🧭 Breadcrumbs -->
  <p>
    <strong>Path:</strong>
    {% for crumb in breadcrumbs %}
      {% if forloop.last %}
      <strong><a href="{% url 'location_detail' crumb.pk %}">{{ crumb.name }}</a></strong>
      {% else %}
      <a href="{% url 'location_detail' crumb.pk %}">{{ crumb.name }}</a>&gt;
      {% endif %}
      
    {% endfor %}
    <br>
    <a href="{% url 'location_edit' location.id %}">(Update | </a><a href="#" onclick="deleteLocation()"> Delete)</a>
     <h5>Downstream Locations</h5>
     
     {% if children %}
     <ul>
      {% for child in children %}
      <li>
        <a href="{% url 'location_detail' child.pk %}"> {{ child.name}}</a> 
      </li>
      

      {% endfor %}
     </ul>
     
      
    {% endif %}
    <a href="{% url 'location_add' location.id %}">Add Location</a>


  </p>

  <!-- 📦 Inventory Items -->
  <h5>Inventory at this Location</h5>
  {% if inventory_items %}
    <ul>
      <h6>Parts</h6>
      {% for item in inventory_items.parts %}
        <li>{{ item.part.name }} — Quantity: {{ item.quantity }}</li>
      {% endfor %}
    </ul>
    <ul>
      <h6>Materials</h6>
      {% for item in inventory_items.materials %}
        <li>{{ item.material.name }} — Quantity: {{ item.quantity }}</li>
      {% endfor %}
    </ul>

  {% else %}
    <p><em>No inventory items at this location.</em></p>
  {% endif %}

  <a href="{% url 'location_tree' %}">&larr; Back to Location Tree</a>
{% endblock %}
