{% extends 'purchasing/base.html' %}
{% block purchasing_content%}
{% load crispy_forms_tags %}
{% load render_table from django_tables2%}

<script type="text/javascript">
  function loadPurchaseOrderForm(pk) {

    $.ajax({
      url: '{% url "poi-form" %}' + pk,
      //url: '../purchaseorderitem/'+pk,
      method: 'GET',
      success: function(data){
        $('#poi_form').html(data);
        if(pk){
          $('#id_delete').prop('disabled', false);
        }

      },
    });
  }
</script>
<div class="row position-relative">
<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Purchase Order</h5>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <input class="btn primary-btn"  type="submit" name="">
      </form>

    </div>

  </div>

</div>
<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Purchase Items
      </h5>
      {% render_table table %}
    </div>

  </div>

</div>

<div id="poi_form" class="col">
  {% include 'purchasing/purchaseorderitem_form.html' %}
</div>

</div>

{% endblock%}
